@font-face{
    src: url("/font/Roboto-Bold.ttf");
    font-family: roboto;
    font-weight: 700;
}
@font-face{
    src: url("/font/Roboto-BoldI.ttf");
    font-family: roboto;
    font-weight: 700;
}

@font-face{
    src: url("/font/Roboto-Italic.ttf");
    font-family: roboto;
    font-weight: 700;
}
@font-face{
    src: url("/font/Roboto-Light.ttf");
    font-family: roboto;
    font-weight: 300;
}
@font-face{
    src: url("/font/Roboto-LightItalic.ttf");
    font-family: roboto;
    font-weight: 300;
}
@font-face{
    src: url("/font/Roboto-Medium.ttf");
    font-family: roboto;
    font-weight: 500;
}
@font-face{
    src: url("/font/Roboto-MediumItalic.ttf");
    font-family: roboto;
    font-weight: 500;
}
@font-face{
    src: url("/font/Roboto-Regular.ttf");
    font-family: roboto;
    font-weight: 400;
}
@font-face{
    src: url("/font/Roboto-Thin.ttf");
    font-family: roboto;
    font-weight: 100;
}
@font-face{
    src: url("/font/Roboto-ThinItalic.ttf");
    font-family: roboto;
    font-weight: 100;
}
@font-face{
    src: url("/font/Roboto-Black.ttf");
    font-family: roboto;
    font-weight: 900;
}
@font-face{
    src: url("/font/Roboto-BlackItalic.ttf");
    font-family: roboto;
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    font-family: roboto;
    box-sizing: border-box;
    
}
.banner{
    width: 100%;
     background-image: url('./images/blog.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
}
.navcontant{
    width: 100%;
    display: flex;
    position: fixed;
}
.logo{
    color: red;
    text-decoration: none;
    width: 10%;
    padding: 23px 10px;
    font-size: 35px;
}
a.log {
    text-decoration: none;
    color: #B83526;
    font-weight: 700;
}
.navList{
    text-decoration: none;
    color: white;
    font-size: 16px;   
}
.title {
    width: 24%;
    font-size: 20px;
    padding: 14px 20px;
    display: flex;
}
.navcontant1 {
    width: 40%;
    padding: 18px 0px;
}
.navcontant2 {
    width: 30%;
    padding: 18px 0px;
}
.navcontant3 {
    width: 30%;
    padding: 18px 0px;
}
.myimg{
    width: 40px;
    height: 40px;
}
.login{
    width: 70%;
    text-align: end;
    padding: 20px 0px;
}
button.btn {
    border: none;
    background-color: inherit;
    padding: 14px 29px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
}
.lang {
    width: 10%;
    text-align: end;
    padding: 20px 0px;
}
select#language {
    border: none;
    background-color: inherit;
    padding: 14px 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    color: white;
}
.text{
    width: 100%;
    text-align: center;
    padding: 400px 0px;
}
button {
    background-color: #B93523;
    padding: 15px 60px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    font-weight: 400;
}
.line{
    width: 70px;
    border-top: 3px solid #BC3624;
    margin: 3px;
    display: inline-block;
}
.theamcontent{
    color: black;
    padding: 20px 0px;
}
.para{
    color: black;
    padding: 60px 200px;
    font-size: 16px;
    font-weight: 300;
}

  .theme{
      width: 100%;
      text-align: center;
  }
  .container2{
    width: 100%;
    padding: 100px 0px;

  }
  .hesdderline{
    font-weight: 500;
    font-size: 35px;
  }
  
  .slider{
    width: 100%;
    text-align: center;
    padding: 25px 220px;
    display: flex;
  }
  .rightArrow{
      width: 15%;
      padding: 245px 0px;
  }
  .contImg{
      width: 70%;
  }
  .leftArrow{
      width: 15%;
  }
  .why{
      width: 100%;
  }
  .whys{
    width: 100%;
    text-align: center;
    background-color: #F6F7F9;
    padding-top: 60px;
  }
  .whyContent{
       color: black;
       padding: 20px 0px;
      
  }
  .whyByPart {
    width: 100%;
    display: flex;
    padding: 100px 0px;
}
.pa{
    color: #3E4A57;
    text-align: initial;
    font-weight: 400;
    padding: 14px 178px;
    font-size: 18px;
}
.part1 {
    width: 50%;
}
.part2 {
    width: 50%;
}
.imgs{
    width: 80%;
}
.btnss{
    text-align: initial;
    padding: 50px 178px;
}
.ready {
    width: 100%;
}
.edit {
    width: 100%;
    display: flex;
    padding: 100px 0px;
}
.mobile {
    width: 50%;
    padding: 0px 183px;
}
.mobilem{
    text-align: right;
}
.mibileImg {
    width: 50%;
}
span.forPara {
    font-weight: 100;
    font-size: 30px;
}
.mobileCont {
    padding: 0px 25px;
}
.mobileContent {
    text-align: right;
    font-size: 16px;
    font-weight: 300;
}
.mobileReady {
    padding: 16px 0px;
}
.mobileButtan {
    text-align: end;
    padding: 50px 0px;
}
.feature{
    width: 100%;
    background-color: #F6F7F9;
    
}

.featurebody {
    width: 100%;
    text-align: center;
    margin-top: -136px;
    padding: 90px 0px;
    
}
.featureContent {
    width: 100%;
    display: flex;
    padding: 60px 100px;
}

.fearureImg {
    width: 100px;
}
.section1 {
    width: 25%;
    padding: 0px 60px;
}
.h3part {
    font-weight: 500;
    font-size: 25px;
    padding: 8px 0px;
}
.paras {
    padding: 0px 12px;
    font-weight: 300;
    font-size: 15px;
}
.mobileImag {
    width: 85px;
    height: 70px;
    margin: 13px;
}
.footer {
    width: 100%;
    background-color: #333333;
    padding: 60px 40px;
}
.foorteMain {
    width: 100%;
    color: white;
    display: flex;
    padding: 0px 183px;
}
.footer1{
    width: 30%;

    padding: 0px 65px
}
.footer2{
    width: 23%;

    padding: 0px 65px
}
.footer3{
    width:23% ;

    padding: 0px 65px
}
.footer4{
    width: 24%;

    padding: 0px 65px
}
.socialLife {
    list-style-type: none;
    display: flex;
    padding: 20px 0px;
    font-size: 25px;
}
.footpara {
    font-weight: 400;
    font-size: 25px;
    padding: 4px 0px;
}
.footparas {
    font-size: 15px;
    font-weight: 100;
    padding: 25px 4px 0px 0px;
    line-height: 25px;
}
.footerUl {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    padding: 25px 4px 0px 0px;
    line-height: 40px;
}




/* 2nd page css */
.customerSevice {
    width: 100%;
    height: 50vh;
    background-image: url('./images/customer-service.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
.cost {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 200px 0px;
}
.costHead{
    font-weight: 300;
}
/* faq css */
.faq {
    width: 100%;
}
.faqcontent {
    width: 100%;
    padding: 100px 150px;
}
.faqHead {
    text-align: center;
    font-size: 25px;
    padding: 25px 0px;
}
button.faqbtn1 {
    background-color: #B93523;
    padding: 15px 60px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: white;
    border: 0px solid white; 
     border-radius: 0px;
    font-weight: 400;
}
button.faqbtn2 {
    background-color: #F6F7F9;
    padding: 15px 60px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    color: black;
    border: 0px solid white; 
     border-radius: 0px;
    font-weight: 400;
}

/* FOR EXPERIMENT ONLY */
dl.faq button {
    margin: 0;
    margin-top: 16px;
    padding: 4px 8px;
    font-weight: bold;
    font-size: 110%;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    color: black;
  }
  
  dl dd {
    margin: 0;
    padding: 0;
    margin-left: 1.5em;
    padding-bottom: 20px;
    border-bottom: 1px solid #777;
  }
  
  dl.faq .desc {
    margin: 0;
    margin-top: 2.25em;
    padding: 0.25em;
    font-size: 110%;
    display: none;
  }
  
  dl.faq button:hover,
  dl.faq button:focus {
    padding: 2px 6px;
    background-color: #def; 
    border: 2px solid #0091f8;
    cursor: pointer;
  }
  
  dl.faq button[aria-expanded="false"]::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 1 11, 8 6' fill='currentColor' stroke= 'currentColor' /%3E%3C/svg%3E%0A");
    position: relative;
    left: -2px;
  }
  
  dl.faq button[aria-expanded="true"]::before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' style='forced-color-adjust: auto;'%3E%3Cpolygon points='1 1, 11 1, 6 8' fill='currentColor' stroke= 'currentColor' /%3E%3C/svg%3E ");
    position: relative;
    left: -4px;
    top: 2px;
  }
  /* FOR EXPERIMENT END */
  /* table */
  .priceTable {
    width: 100%;
    
}
.tablecontent {
    width: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;

}
.tableRow {
    width: 100%;
    display: flex;
    gap: 0px 1px;
}
.tableBox {
    width: 33%;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 1px 3px 4px #f1f1f1;
}
/* COSROMER SESSION */
.customer{
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
    line-height: 22px;
    font-weight: 300;
}


/* 3nd page css */
.feature{
    width: 100%;
    height: 50vh;
    background-image: url('./images/feature.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}

.featureHead {
    width: 80%;
    text-align: center;
    margin: 100px 190px;
}
.lestItem {
    width: 100%;
    display: flex;
}
.items {
    width: 33%;
    padding: 20px 80px;
    line-height: 22px;
}
.featureImg {
    width: 70px;
    height: 60px;
    margin: 20px 0px;
}


/* 4nd page css */

.containTheme {
    width: 100%;
    height: 50vh;
    background-image: url('./images/themes.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
.themes {
    padding: 100px 0px;
}

.themeItem {
    width: 100%;
    display: flex;
    text-align: center;
}
.listItems {
    width: 33.35%;
    padding: 35px 20px;
}
.themeImg {
    width: 570px;
}
.listtitle {
    width: 85%;
    text-align: center;
    line-height: 30px;
    margin: 20px 145px;
}
